 *{
    margin: 0;
    padding: 0;
}
a{
  text-decoration: none;  
  color: #000;
}
.background{
    background-color: #E5E5E5;
}
nav{
    width: 100%;

    background-color: #2E2E2E;
}
nav .container{
    display: flex;
}
.nav__text{
    cursor: pointer;
    margin-right: 15px;
    margin-top: 15px;
    font-family: Nunito Sans;
    font-size: 11pt;
    font-weight: 700;

    color: #9b9b9b;
}

.join{
    display: flex;
    font-family: Nunito Sans;
    font-size: 14pt;
    font-weight: 400;
    line-height: 21px;
    color: #fff;
    margin-left: auto;
    margin-right: 0;
}
.join .textjoin{
    margin-top: 15px;
}
.join .telegram,.whatsup,.vk{
    cursor: pointer;
}

.head{
    margin-bottom: 30px;
}

.head .topblock{
    max-height: 130px;
    margin-top: 40px;
    display: flex;
}
.logo{
    min-width: 122px;
    width: 122px;
    height: 80px;
    background: url("../img/logo.png") center no-repeat;
}
.head .topblock .text{
    margin-left: 30px;
    font-family: Nunito Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.head .topblock .map_time{
    font-family: Nunito Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    margin-left: 70px;
}
.head .topblock .map_time .map{
    font-family: Nunito Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}
.head .topblock .map_time .time{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}
.phone{
    margin-left: 10px;
    margin-right: 0;
}
.phone .mobilephone{
    font-family: Nunito Sans;
    font-size: 22px;
    font-weight: 700;
    line-height: 29px;
    margin-bottom: 10px;  
}
.phone .email{
    color: #000;
    text-decoration: none;
}
/*botblock head нижний блок шапки*/
.botblock{
    display: flex;
}
.botblock button{
    margin-right: 0;
    margin-left: auto;
    width: 226px;
    height: 50px;
    background: linear-gradient(180deg, #DB1414 0%, #BA0D0D 100%);
    border: 0;
    border-radius: 5px;
    font-family: Nunito Sans;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    color: #fff;
    margin-right: 30px;
}

.redbutton{
    margin-right: 20px;
    margin-top: 20px;
    width: 226px;
    height: 50px;
    background: linear-gradient(180deg, #DB1414 0%, #BA0D0D 100%);
    border: 0;
    border-radius: 5px;
    font-family: Nunito Sans;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    color: #fff;
}
.redbutton svg{
    margin-right: 13px;
}   
.botblock input{

    margin-top: 19px;
    width: 750px;
    height: 50px;
    padding-left: 20px;
}
.blocktrash{
    margin-left: 20px;
    margin-top: 11px;
}
fieldset{
    display: flex;
    color: #BC1515;
    padding-left: 15px;
    padding-top: 19;
    width: 192px;
    height:58px;
    border: solid 1px #9B9B9B;
    border-radius: 4px;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 700;
    position: relative;

}
.blocktrash svg{
    margin-left: 20px;
 
}
fieldset .price{

    margin-top: 5px;
}
fieldset legend{
    color: #000;
    padding-left: 5px;
    margin-right: 5px;
    width: 90px;
    font-family: Nunito Sans;
    font-size: 15pt;
    font-weight: 600;
    line-height: 19px;
}
fieldset .count{
    top: 5px;
    right: 40px;
    position: absolute;
}

.page1{
    background-color: #E5E5E5;

}
.page1 .container{
    display: flex;
}

.menu *{
    position: relative;
    padding-top: 40px;
    width: 226px;
    height: 86px;
    background-color: #535050;
    color: #fff;
    font-family: Nunito Sans;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-align: left;
}
.menu *:not(:last-child,svg){
    border-bottom: 1px solid #5F5F5F; ;
}
.menu svg{
    padding-top: 0;
    margin-top: 0;
    width: 34px;
    height: 20px;
    margin-bottom: 5px;
    margin-right: 14px;
    margin-left: 20px;  
}
.menu .arrow{
    width: 10px;
    position: absolute;
    right: 5px;
}
.menu_block:hover{
    background-color: #fff;
    color: #BA0D0D;
    cursor: pointer;
}
.menu_block svg{
    background: rgba(0, 0, 0, 0);
    
}
.slider{
    position: relative;
    margin-top: 15px;
    margin-left: 20px;
    min-height: 500px;
    max-height: 500px;
    height: 100%;
    width: 100%;
}
.carousel-indicators{
    margin-left: 0 !important;
    margin-right: 80% !important;
    margin-bottom: 50px !important;
}
.carousel-inner img{
    min-height: 500px;
    max-height: 500px;
}
.carousel-inner .textabsolute{
    top: 60px;
    left: 50px;
    font-family: Nunito Sans;
    font-size: 36px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    position: absolute;
}


.carousel-indicators [data-bs-target]{
    width: 10px;
    height: 10px;
}


.benefits{
    margin-right: 15px;
    display: flex;
    margin-top: 60px;
    width: 100%;
    background-color: #fff;
    border: solid 2px #000;
    border-radius: 6px;
    padding-bottom: 40px;
}

.benefits .block{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
}

.benefits .block .redcircle{
    position: relative;
    width: 62px;
    height: 62px;
    background-color: #BC1515;
    border-radius: 50%;
}
.benefits .alltext{
    width: auto;
    margin-left: 13px;
}
.benefits .maintext{
    font-family: Nunito Sans;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
}
.benefits .text{
    margin-top: 6px;
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    
}
.benefits .block .redcircle svg{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
.new_product{
    margin-top: 60px;
    display: flex;
}
.slider .slick-next.slick-arrow{
    position: relative !important;
}


.new_product .text{
    font-family: Nunito Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
}
.new_product .buttons{
    margin-right: 0;
    margin-left: auto;
}
.new_product .buttons button{
    margin: 2px;
    height: 50px;
    width: 50px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
 
}
.products{
    display: flex;
    margin-top: 20px;
}

.product{
    margin: 20px;
    width: 226px;
    height: 346px;
    background-color: #fff;
}
.product img{
    max-width: 186px;
    max-height: 139px;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto ;
}
.product .text{
    font-family: Nunito Sans;
    font-size: 15px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    margin-left: 20px;
}

.map_aplication{
    margin-top: 60px;
    display: flex;
    padding-bottom: 50px;
}
.map_aplication .map{

    width: 100%;
}
.map_aplication .map iframe{
    height: 100%;
    width: 100%;
}
.aplication{
    min-height: 489px;
    border: 2px solid #000000;
    margin-left: 20px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.08);
}
.aplication .text{
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 40px;
    font-family: Nunito Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
}
.aplication input{
    padding-left: 15px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    width: 80%;
    height: 50px;
}

.checkbox{
    display: flex;
 
}
.checkbox input{
    margin-right: 15px;
    width: 20px;
    height: 20px;
 
}
.checkbox .textcheckbox{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;

}
.aplication button{

    margin-top: 20px;
    width: 219px;
    height: 50px;
    background: linear-gradient(180deg, #DB1414 0%, #BA0D0D 100%);
    border: 0;
    font-family: Nunito Sans;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 40px;
    color: #fff;
    border-radius: 4px;
    margin-left: 40px;
}



/*foother*/
footer{
    background: #2E2E2E;
    border-bottom: 1px solid #3E3E3E;

}
footer .container{
    display: flex;
    border-bottom: 1px solid #3E3E3E;
}
footer .leftblock{
    max-width: 600px ;
    margin-right: 20px;
}
footer .container .topblock{
    color: #fff;
    display: flex;
    margin-top: 50px;
}
footer .container .topblock .text{
    margin-left: 15px;
    font-family: Nunito Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
.leftblock .bottext{
    font-family: Nunito Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

    color: #fff;
}
.footer__nav{
    display: flex;
}
.map_time_footer{
    display: flex;
}
.map_time_footer .mapandtime{
    margin-top: 50px;
    padding-right: 15px;
}
.map_time_footer .map{
    font-family: Nunito Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

    color: #fff;
}
.map_time_footer .time{
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 20px;
    color: #fff;

}
.map_time_footer .phone{
    margin-top: 50px;
    color: #fff;
}

.map_time_footer .email{
    color: #fff;
}
@media(max-width:1024px){
   .phone .mobilephone{
        font-size: 16px ;
    }
    .head .topblock .map_time{
        margin-left: 10px;
    }
    @media(max-width:768px){
        .page1 .menu{
            display: none;
        }
        .benefits .block {
            margin-left: 15px;
        }
        .benefits{
            display: grid;
            grid-template-columns: 1fr 1fr;

        }
        @media (max-width: 425px){
            .head .topblock .map_time{
                display: none;
            }
            .join .textjoin{
                display: none;
            }
            .head .topblock .text{
                margin-left: 10px;
                font-size: 16px;
            }
            .logo img{
                width: 100px;
                height: 50px;
            }
            footer .phone{
                display: none;
            }
            .map_aplication{
                display: block;
            }
            .map_aplication map{ 
                height: auto ;
            }

            .slider{
                margin-left: 0;
                min-height: 300px;
            }
            .carousel-inner img{
                min-height: 300px;
            }
            .aplication{
                margin-bottom: 20px;
            }
            .new_product .buttons{
                display: none;
            }
        }
        
    }
}
@media(max-height:450px){
    .carousel-indicators{
        z-index: 0  !important;
    }
    .benefits{
        height: 150px;
    }
  
}