*{
    margin: 0;
    padding: 0;
}
a{
  text-decoration: none;  
  color: #000;
}
.background{
    background-color: #E5E5E5;
    padding-bottom: 60px;
}
nav{
    width: 100%;
    height: 50px;
    background-color: #2E2E2E;
}
nav .container{
    display: flex;
}
.nav__text{
    cursor: pointer;
    margin-right: 15px;
    margin-top: 15px;
    font-family: Nunito Sans;
    font-size: 11pt;
    font-weight: 700;

    color: #9b9b9b;
}

.join{
    display: flex;
    font-family: Nunito Sans;
    font-size: 14pt;
    font-weight: 400;
    line-height: 21px;
    color: #fff;
    margin-left: auto;
    margin-right: 0;
}
.join .textjoin{
    margin-top: 15px;
}
.join .telegram,.whatsup,.vk{
    cursor: pointer;
}
    


/*1 страница*/
.page1{
    background-color: #E5E5E5;

}
.page1 .container{
    display: flex;
}

.menu *{
    position: relative;
    padding-top: 40px;
    width: 226px;
    height: 86px;
    background-color: #535050;
    color: #fff;
    font-family: Nunito Sans;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-align: left;
}
.menu *:not(:last-child,svg){
    border-bottom: 1px solid #5F5F5F; ;
}
.menu svg{
    padding-top: 0;
    margin-top: 0;
    width: 34px;
    height: 20px;
    margin-bottom: 5px;
    margin-right: 14px;
    margin-left: 20px;  
}
.menu .arrow{
    width: 10px;
    position: absolute;
    right: 5px;
}

.technic .maintextpage{
    font-family: Nunito Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
}
.technic .maintext{
    font-family: Nunito Sans;
    font-size: 36px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 40px;
    margin-left: 20px;

}
.maintextpage{
    display: flex;
}
.maintextpage .color{
    color: #9b9b9b;
}
.products{
    margin-top: 30px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.product{
    width: 308px;
    height: 343px;
    background-color: #fff;
}
.product img{
    max-width: 268px;
    max-height: 200px;
    margin: 20px;
}
.product .text{
    font-family: Nunito Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    
    margin-left: 20px;
}
.product .price{
    font-family: Nunito Sans;
    font-size: 17px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
}
.product button{
    margin: 20px;
    width: 268px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    font-family: Nunito Sans;
    font-size: 12pt;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: #000;
}






/*foother*/
footer{
    background: #2E2E2E;
    border-bottom: 1px solid #3E3E3E;
    padding-bottom: 50px;
}
footer .container{
    display: flex;
    border-bottom: 1px solid #3E3E3E;
}
footer .leftblock{
    max-width: 600px ;
    margin-right: 20px;
}
footer .container .topblock{
    color: #fff;
    display: flex;
    margin-top: 50px;
}
footer .container .topblock .text{
    margin-left: 15px;
    font-family: Nunito Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
.leftblock .bottext{
    font-family: Nunito Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

    color: #fff;
}
.footer__nav{
    display: flex;
}
.map_time_footer{
    display: flex;
}
.map_time_footer .mapandtime{
    margin-top: 50px;
}
.map_time_footer .map{
    font-family: Nunito Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

    color: #fff;
}
.map_time_footer .time{


font-family: Nunito Sans;
font-size: 16px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;

    margin-top: 20px;
    color: #fff;
}
.map_time_footer .phone{
    margin-top: 50px;
    color: #fff;
}
.map_time_footer .email{
    color: #fff;
}